h3 {
    font-size: 24px;
    font-family: Andale Mono, monospace;
}

output {
    width: 25vw;
    float: right;
    right: 0;
    font-size: larger;
}

.split{
    height: 100vh;
    width: 50vw;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: #262626;
}

.left {
  left: 0;
    padding-left: 1%;
}

.right {
  right: 0;
    padding-right: 1%;
}

#token-selector {
    width: 12.5vw;
    display: inline-block;
    float: left;
}

.VirtualizedSelectOption {
    background-color: #262626;
    color: white;
}

.VirtualizedSelectFocusedOption {
    background-color: #d16baf;
    font-size: 18px;
    color: white;
}

.Select-control {
    background-color: #262626; !important;
    border-color: #d16baf;
    color: white;
}

.Select-input {
    background-color: #262626;
    border-color: #d16baf;
}

.Select-placeholder {
    background-color: #262626;
    border-color: #d16baf;
}

.Select-menu-outer {
    background-color: #262626;
}

.Select-value {
    background-color: #262626;
    border-color: #d16baf;
    color: white;
}

.Select-value-label{
    color: white;
}

.Select-arrow-zone {
    background-color: #262626;
    border-color: #d16baf;
}

#graph-selector {
    width: 12.5vw;
    display: inline-block;
    float: right;
    padding-right: 5%;
}

#header {
    float: left;
    width: 50vw;
}

.stats {
    float: right;
    width: 50vw;
    right: 0;
    position: relative;
    text-align: right;
}

#live-update-graph {
    width: 45vw;
    display: inline-block;
}

.stats_area {
    float: right;
    display: inline-block;
    width: 25vw;
    right: 0;
    vertical-align: baseline;
    position: relative;
    text-align: right;
}
